language: python 
python: 
 - "3.6"
services: 
 - postgresql
addons:
 postgresql: "9.6"
 chrome: stable
 
env: 
 -DJANGO=2.1.7 DB=postgresql
install: 
 - pip install -r requirements.txt
before_script: 
 - psql -c "CREATE DATABASE authorshaven;" -U postgres
 - python manage.py makemigrations bookmark
 - python manage.py makemigrations
 - python manage.py migrate

script:
  - python manage.py test

after_success:
 - coveralls
  