language: python 

python: 
  - "3.6"

services: 
  - postgresql

addons:
  postgresql: "9.6"
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

env: 
  -DJANGO=2.1.7 DB=postgresql

install: 
  - pip install -r requirements.txt

before_script: 
  - psql -c "CREATE DATABASE authors_haven;" -U postgres

script:
  - python manage.py test

after_success:
  - coveralls
